{% extends "::base.html.twig" %}


{% block title 'Accueil' %}


    {% block header %}
        <h1>Accueil</h1>
    {% endblock %}


    {% block content %}
    <div class="panel panel-default">
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
        Some contents here ...
    </div>
    {% endblock %}

    {% block footer %}
    {{ parent() }}
    {% endblock %}