{% extends "FOSUserBundle::layout.html.twig" %}

 {% block title 'Inscription' %}

{% block header %}
    <h1>Inscription</h1>
    <hr>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
