/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
hr{
    border-color: #65B816;
}

/**
    Main colors - background - inputs
 */

.dark-blue-bck{
    background-color: #092033 !important;
}

.dark-blue-color{
    color:#092033 !important;
}

.green-bck{
    background-color: #65B816 !important;
}

.green-color{
    color: #65B816 !important;
}
.red-bck{
    background-color: #C30A09 !important;
}
.red-color{
    color: #C30A09 !important;
}

.border-bot-green-color{
    border-bottom-color: #65B816 !important;
}

.checkbox-green[type="checkbox"].filled-in:checked+span:not(.lever):after{
    border: 2px solid #65B816;
    background-color: #65B816;
}

input[type]:not(.browser-default):focus:not([readonly]){
    border-bottom-color: #65B816 !important;
    box-shadow: 0 1px 0 0 #65B816;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}